#root {
  width: 100%;
}

nav {
  background-color: #121212;
  padding: 1em;
  margin-bottom: 2em;
}

footer {
  text-align: center;
  margin: auto;
  padding: 2em 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.mb-3 {
  margin-bottom: 1em;
}

.container.flex {
  display: flex;
  justify-content: space-between;
}

.container.flex>div {
  width: calc(50% - 1em);
}

.container>div {
  background-color: #121212;
  border: 1px solid #303030;
  padding: 1.5em 2em;
  border-radius: 5px;
}

.customize {
  margin-left: 1em;
  
}

h2 {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.customize-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: end !important;
}

.customize-container>div {
  max-width: 120px;
}

.customize-container.column-5 {
  grid-template-columns: auto auto auto auto auto;
}

.text-center {
  text-align: center;
}

.form-input>* {
  font-size: 18px;
  padding: 0.5em;
  width: 50%;
}

button {
  width: 10em;
  font-size: 18px
}

.text-error {
  color: red;
}

.w-100 {
  width: 100%;
}
